
# Prometheus Monitor Service (Metrics)
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    control-plane: vault-config-operator
  name: controller-manager-metrics-monitor
  namespace: system
spec:
  endpoints:
    - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      interval: 30s
      port: https
      scheme: https
      tlsConfig:
        # caFile: /etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt
        ca: 
          secret:
            key: 'tls.crt'
            name: vault-config-operator-certs
            optional: false
        serverName: $(METRICS_SERVICE_NAME).$(METRICS_SERVICE_NAMESPACE).svc
  selector:
    matchLabels:
      control-plane: vault-config-operator
