apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
  - bases/redhatcop.redhat.io_kubernetesauthengineroles.yaml
  - bases/redhatcop.redhat.io_policies.yaml
  - bases/redhatcop.redhat.io_secretenginemounts.yaml
  - bases/redhatcop.redhat.io_databasesecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_databasesecretengineroles.yaml
  - bases/redhatcop.redhat.io_randomsecrets.yaml
  - bases/redhatcop.redhat.io_authenginemounts.yaml
  - bases/redhatcop.redhat.io_kubernetesauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_vaultsecrets.yaml
  - bases/redhatcop.redhat.io_passwordpolicies.yaml
  - bases/redhatcop.redhat.io_githubsecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_githubsecretengineroles.yaml
  - bases/redhatcop.redhat.io_rabbitmqsecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_rabbitmqsecretengineroles.yaml
  - bases/redhatcop.redhat.io_pkisecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_pkisecretengineroles.yaml
  - bases/redhatcop.redhat.io_quaysecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_quaysecretengineroles.yaml
  - bases/redhatcop.redhat.io_quaysecretenginestaticroles.yaml
  - bases/redhatcop.redhat.io_ldapauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_ldapauthenginegroups.yaml
  - bases/redhatcop.redhat.io_kubernetessecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_kubernetessecretengineroles.yaml
  - bases/redhatcop.redhat.io_jwtoidcauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_jwtoidcauthengineroles.yaml
  - bases/redhatcop.redhat.io_databasesecretenginestaticroles.yaml
  - bases/redhatcop.redhat.io_groups.yaml
  - bases/redhatcop.redhat.io_groupaliases.yaml
  - bases/redhatcop.redhat.io_azureauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_azureauthengineroles.yaml
  - bases/redhatcop.redhat.io_azuresecretengineconfigs.yaml
  - bases/redhatcop.redhat.io_azuresecretengineroles.yaml
  - bases/redhatcop.redhat.io_gcpauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_gcpauthengineroles.yaml
  - bases/redhatcop.redhat.io_certauthengineconfigs.yaml
  - bases/redhatcop.redhat.io_certauthengineroles.yaml
#+kubebuilder:scaffold:crdkustomizeresource

# [WEBHOOK] To enable webhook, uncomment specific entries for CRDs created with --conversion.
#- patches/webhook_in_kubernetesauthengineroles.yaml
#- patches/webhook_in_policies.yaml
#- patches/webhook_in_secretenginemounts.yaml
#- patches/webhook_in_databasesecretengineconfigs.yaml
#- patches/webhook_in_databasesecretengineroles.yaml
#- patches/webhook_in_randomsecrets.yaml
#- patches/webhook_in_authenginemounts.yaml
#- patches/webhook_in_kubernetesauthengineconfigs.yaml
#- patches/webhook_in_vaultsecrets.yaml
#- patches/webhook_in_passwordpolicies.yaml
#- patches/webhook_in_githubsecretengineconfigs.yaml
#- patches/webhook_in_githubsecretengineroles.yaml
#- patches/webhook_in_rabbitmqsecretengineconfigs.yaml
#- patches/webhook_in_rabbitmqsecretengineroles.yaml
#- patches/webhook_in_pkisecretengineconfigs.yaml
#- patches/webhook_in_pkisecretengineroles.yaml
#- patches/webhook_in_quaysecretengineconfigs.yaml
#- patches/webhook_in_quaysecretengineroles.yaml
#- patches/webhook_in_quaysecretenginestaticroles.yaml
#- patches/webhook_in_ldapauthengineconfigs.yaml
#- patches/webhook_in_ldapauthenginegroups.yaml
#- patches/webhook_in_kubernetessecretengineconfigs.yaml
#- patches/webhook_in_kubernetessecretengineroles.yaml
#- patches/webhook_in_jwtoidcauthengineconfigs.yaml
#- patches/webhook_in_jwtoidcauthengineroles.yaml
#- patches/webhook_in_databasesecretenginestaticroles.yaml
#- patches/webhook_in_groups.yaml
#- patches/webhook_in_groupaliases.yaml
#- patches/webhook_in_azureauthengineconfigs.yaml
#- patches/webhook_in_azureauthengineroles.yaml
#- patches/webhook_in_azuresecretengineconfigs.yaml
#- patches/webhook_in_azuresecretengineroles.yaml
#- patches/webhook_in_gcpauthengineconfigs.yaml
#- patches/webhook_in_gcpauthengineroles.yaml
#- patches/webhook_in_certauthengineconfigs.yaml
#- patches/webhook_in_certauthengineroles.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
