name: pull request
on:
  pull_request:
    branches:
      - master
      - main

jobs:
  shared-operator-workflow:
    name: shared-operator-workflow
    uses: trevorbox/github-workflows-operators/.github/workflows/pr-operator.yml@test-boolean-input
    with: 
      RUN_UNIT_TESTS: "true"
      RUN_INTEGRATION_TESTS: "true"
